* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.page-header {
    width: 100%;
    display: flex;
    background-color: #252323;
    padding: 20px 0 20px 0;
    align-items: center;
}

.header-logo {
    margin: auto;
}

.header-social {
    margin: auto;
}

.page-logo {
    margin-left: 15px;
}

.wifi-icon {
    margin: 0px 10px 0px 10px;
    cursor: pointer;
}

.facebook-icon {
    margin: 0px 10px 0px 10px;
    cursor: pointer;
}

.twitter-icon {
    margin: 0px 10px 0px 10px;
    cursor: pointer;
}

.linkedin-icon {
    margin: 0px 10px 0px 10px;
    cursor: pointer;
}

.menu-container {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: solid #b5b5b5 2px;
}

.nav-menu {
    margin: auto;
}

.nav-items {
    display: flex;
    list-style: none;
}

.nav-items li {
    padding: 15px;
}

.nav-items li:hover {
    border-bottom: #00bac6 solid 2px;
    padding-bottom: 10px;
}

.nav-items a {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    color: #b5b5b5;
    margin-bottom: 10px;
}

.nav-items a:hover {
    color: #00bac6;
}

.menu-search-bar {
    margin: auto;
}

.input-search {
    text-align: start;
    padding: 8px;
    width: 100%;
    background-size: 20px;
    border: 1px solid #b5b5b5;
    border-radius: 2px;
    font-size: small;
    background: url(img/search-icon.png) no-repeat 95%;
}

.banner {
    width: 100%;
}

.main-container {
    width: 100%;
    margin: auto;
    align-items: center;
}

.main-text h1 {
    text-align: center;
    padding: 15px;
    margin-top: 15px;
    font-weight: inherit;
    color: gray;
    text-transform: uppercase;
    font-size: 17pt;
}

.main-text p {
    text-align: center;
    color: gray;
    margin: 0px 250px 0px 250px;
}

.main-info {
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%
}

.main-info h1 {
    text-align: center;
    color: gray;
    font-weight: inherit;
    font-size: 16pt;
}

.main-info p {
    text-align: center;
    color: gray;
    font-size: 11pt;
}

.main-info figure {
    text-align: center;
}

.main-info figure:hover {
    cursor: pointer;
}

.main-info img:hover {
    opacity: 0.6;
}

.pencil-icon {
    margin-top: 80px;
}

.photo-container {
    background-color: #eeeeee;
    margin: auto;
    align-items: center;
    display: flex;
    width: 100%;
    margin: auto;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    overflow: hidden;
}

.photo-container figure {
    margin: 30px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid #b5b5b5 1px;
    border-radius: 2px;
}

.photo-container figure img:hover {
    cursor: pointer;
    transform: scale(1.5);
}

.photo-container img {
    border: solid #b5b5b5 1px;
    transition: all .4s ease-in;
    max-width: 100%;
}

.photo-container figcaption {
    color: gray;
    font-size: small;
}

.tm-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.trademark {
    max-width: 100%;
    width: 100%;
    margin: 0 85px 0 85px;
}

footer {
    width: 100%;
}

.main-footer-container {
    display: flex;
    justify-content: center;
    background: url(img/footer-back.png);
}

.main-footer-container h1 {
    font-size: 15pt;
    color: #ffffff;
    margin: 15px 0 15px 0;
}

.main-footer-container p {
    font-size: 11pt;
    color: #c0c0c0;
    margin: 15px 0 15px 0;
}

.main-footer-container span {
    color: #898989;
}

.main-footer-container img {
    margin-right: 5px;
}

.main-footer-content {
    margin: 0 80px 0 80px;
    width: 100%;
}

.newsletter:hover {
    text-decoration: underline;
    cursor: pointer;
}

.news {
    border-bottom: solid gray 1px;
    padding-bottom: 20px;
}

.getin-img {
    padding-right: 30px;
}

.end-footer-container {
    width: 100%;
    display: flex;
    background-color: #252323;
    padding: 30px 0 30px 0;
    align-items: center;
}

.end-footer-copy {
    color: gray;
    margin: auto;
}

.end-footer-social {
    margin: auto;
}