* {
    padding: 0;
    margin: 0;
}

.page-header {
    display: flex;
    background-color: #252323;
}

.header-logo {
    padding: 15px;
}

.header-social {
    padding: 15px;
    position: absolute;
    right: 10px;
}

.page-logo {
    margin-left: 15px;
}

.wifi-icon {
    margin: 0px 10px 0px 10px;
    cursor: pointer;
}

.facebook-icon {
    margin: 0px 10px 0px 10px;
    cursor: pointer;
}

.twitter-icon {
    margin: 0px 10px 0px 10px;
    cursor: pointer;
}

.linkedin-icon {
    margin: 0px 10px 0px 10px;
    cursor: pointer;
}

.menu-container {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: solid #b5b5b5 2px;
}

.nav-items {
    display: flex;
    list-style: none;
}

.nav-items li {
    padding: 15px;
}

.nav-items li:hover {
    border-bottom: #00bac6 solid 2px;
    padding-bottom: 10px;
}

.nav-items a {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    color: #b5b5b5;
}

.nav-items a:hover {
    color: #00bac6;
}

.menu-search-bar {
    margin-left: auto;
}

.input-search {
    text-align: start;
    padding: 8px;
    width: 100%;
    background-size: 20px;
    border: 1px solid #b5b5b5;
    border-radius: 2px;
    font-size: small;
    background: url(img/search-icon.png) no-repeat 95%;
}